input {
    font-size: 20px
}


.button-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    box-shadow: 10px 10px 15px;
    border-radius: 10px;
    padding: 50px;
    font-size: 20px;
    background-color: lightgray;
}
.button:hover {
    opacity: 70%;
}
.button:active {
    
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 5px 5px 15px;
}
#workoutList {
    margin-top: 10px;
    opacity: 0;
    border-style: solid;
    display: grid;
    width: max-content;
    grid-template-rows: repeat(6, 2vh);
    transition: opacity 2s;
}
#workoutListContainer {
    margin-top: 40px;
    border-style: solid;
    display: flex;
    justify-content: center;
}