.button-container {
    text-align: center;
}

.button {
    cursor: pointer;
    box-shadow: 10px 10px 15px;
    border-radius: 10px;
    padding: 50px;
    font-size: 20px;
    background-color: lightgray;
}
.button:hover {
    opacity: 70%;
}
.button:active {
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 5px 5px 15px;
}